<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>watch监听</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="msg" />
      <br />
      <input type="text" v-model="firstName" placeholder="请输入名字" />
      <input type="text" placeholder="请输入姓氏" v-model="lastName" />
      <p>当前msg的长度为:{{len}}</p>
      <p>全名:{{fullName}}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          msg: "",
          len: 0,
          firstName: "",
          lastName: "",
          fullName: ""
        },
        watch: {
          msg() {
            console.count("msg的值改变了");
            this.len = this.msg.length;
          },
          firstName() {
            this.fullName = this.firstName + "." + this.lastName;
          },
          lastName() {
            this.fullName = this.firstName + "." + this.lastName;
          }
        }
      });
    </script>
  </body>
</html>
