<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>计算属性</title>
</head>

<body>
    <div id="app">
        <button @click="count+=1">计数值{{count}}</button>
        <input type="text" v-model="firstName" placeholder="请输入名字" />
        <input type="text" placeholder="请输入姓氏" v-model="lastName" />
        <p>{{fullName}}</p>
        <p>{{getFullName()}}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                firstName: "",
                lastName: "",
                count: 1
            },
            // 计算属性 依赖于它所依赖的数据发生改变之后重新计算
            //  如果数据不改变会使用已经缓存的数据
            //  计算属性有缓存功能
            computed: {
                fullName() {
                    console.count("计算属性");
                    return this.firstName + "." + this.lastName;
                }
            },
            methods: {
                getFullName() {
                    console.count("方法调用");
                    return this.firstName + "." + this.lastName;
                }
            }
        });

        var arr = [11, 61, 54, 32, 88];

        function bubblesort(arr) {
            for (var i = 0; i < arr.length - 1; i++) {
                for (var j = 0; j < arr.length - 1 - i; j++) {
                    if (arr[j] > arr[j + 1]) {
                        var temp = arr[j];
                        arr[j] = arr[j + 1];
                        arr[j + 1] = temp;
                    }
                }
            }
            return arr;
        }
        console.log(arr);
    </script>
</body>

</html>
