<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>全选/反选</title>
    <link
      rel="stylesheet"
      href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <ul class="list-group">
        <li class="list-group-item" v-for="item in people" :key="item.id">
          <div class="checkbox">
            <label>
              <input type="checkbox" v-model="item.checked" />
              {{item.name}}
            </label>
          </div>
        </li>
      </ul>
      <hr />
      <label>
        <input type="checkbox" v-model="checkedAll" />
        全选
      </label>
      <hr />
      <p>年纪总和:{{ageSum}}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: ".container",
        data: {
          people: [
            {
              id: 1,
              name: "碧瑶",
              checked: true,
              age: 17
            },
            {
              id: 2,
              name: "张小凡",
              checked: true,
              age: 17
            },
            {
              id: 3,
              name: "陆雪琪",
              checked: false,
              age: 19
            },
            {
              id: 4,
              name: "秦无炎",
              checked: false,
              age: 20
            },
            {
              id: 5,
              name: "金瓶儿",
              checked: false,
              age: 18
            }
          ]
        },
        computed: {
          checkedAll: {
            get() {
              return (
                this.people.filter(item => item.checked).length ==
                this.people.length
              );
            },
            set(val) {
              this.people.forEach(item => (item.checked = val));
            }
          },
          ageSum() {
            return this.people
              .filter(item => item.checked)
              .reduce(function(v, item) {
                return v + item.age;
              }, 0);
          }
        }
      });
    </script>
  </body>
</html>
