<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>vue.js</title>
  </head>
  <body>
    <!-- 以后我们的vue实例的作用范围在此div中 -->
    <div class="main" id="app">
      <!-- {{  }} 表示vue中的数据绑定，花括号中间的内容会直接输出在页面上 -->
      <!-- {{}} 中间的内容是js表达式 -->
      <h1>{{msg.split('').reverse().join('')}}</h1>
      <h5>{{num}}为:{{num%2==0?'偶数':'奇数'}}</h5>
      <!-- 使用v-model指令可以把data中的数据绑定到form表单 -->
      <!-- 所有的v-xxx都是vue中的内置指令 -->
      <!-- <input type="text" v-model="msg" /> -->
      <textarea v-model="msg" id="" cols="30" rows="10"></textarea>
      <input type="text" v-model="num" />
    </div>
    <hr />
    <h3>{{msg}}</h3>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: "#app", // 表示vue实例的挂在节点,作用范围.此处使用一个css元素选择器
        // data表示我们vue实例中使用的数据,
        //  data中的数据是响应式的,当我们改变data中的数据之后 页面会自动刷新
        data: {
          msg: "我是一个消息",
          num: 0
        }
      });
    </script>
  </body>
</html>
