<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>v-for</title>
  </head>
  <body>
    <div id="vm">
      <!-- v-for循环对象 获取每一个值,循环的时候可以接受两个数据 val, index
        v-for="v in list" // v表示值
        v-for="(v,i) in list" // v表示值,i表示索引
      -->
      <h5>循环字符串</h5>
      <p v-for="(item, i) in str">值为:{{item}},索引为:{{i}}</p>
      <hr />
      <h5>循环对象</h5>
      <p v-for="(v, i) in obj">值为:{{v}},索引为:{{i}}</p>
      <hr />
      <h5>循环数字</h5>
      <p v-for="(v, i) in num">值为:{{v}},索引为:{{i}}</p>
      <hr />
      <h5>循环数组</h5>
      <p v-for="(v, i) in list">值为:{{v}},索引为:{{i}}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: "#vm",
        data: {
          str: "我是大侠沈剑心",
          obj: {
            id: 1,
            singer: "丫蛋蛋",
            name: "大田后生仔"
          },
          num: 5,
          list: ["小六", "老邢", "老白", "佟湘玉", "吕秀才"]
        }
      });
    </script>
  </body>
</html>
